<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="estilo-menu.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header class="background-menu">

            <nav id="menu">
                <ul>
                    <li><a href="" onclick="JavaScript:parent.location='../index.html'">Home</a></li>
                    <li><a href="" onclick="JavaScript:parent.location='../quem_somos.html'">Quem somos</a></li>
                    <li><a href="" onclick="JavaScript:parent.location='../produtos.html'">Produtos</a></li>
                    <li><a href="" onclick="JavaScript:parent.location='../servicos.html'">Serviços</a></li>
                    <li><a href="" onclick="JavaScript:parent.location='../contato.php'">Fale conosco</a></li>
                </ul>
            </nav>

            <image class="logo-3a" src="../imagens/logo.png"/>

        </header>

    </body>

</html>
