<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="estilo/estilo-rodape.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <footer id="rodape">
            <div class="texto-rodape">Deixe sua mensagem que entraremos em contato.</div></br>
            <div class="rodape-int">
                <a href="" onclick="JavaScript:parent.location='https://www.facebook.com/3asolucoes/'"><image class="redes-sociais" src="../imagens/facebook.png"/>
                <image class="redes-sociais" src="../imagens/google.png"/></a>
                <a href="" onclick="JavaScript:parent.location='https://www.linkedin.com/company/3a-solu%C3%A7%C3%B5es-empresariais/'"><image class="redes-sociais" src="../imagens/linkedin.png"/>
                <image class="redes-sociais" src="../imagens/twitter.png"/>
                <image class="redes-sociais" src="../imagens/skype.png"/>
                <image class="redes-sociais" src="../imagens/whatsapp.png"/>
            </div>
            <div id="contatos">
                <div class="contato">
                    Hallysson Guimarães</br>
                    +55 11   3042 8581</br>
                    +55 11 9 8136 5215
                </div>
                <div class="contato">
                    Roberto Bispo</br>
                    +55 11   3042 8581</br>
                    +55 11 9 7615 0110
                </div>
            </div>
        </footer>
    </body>

</html>
