@charset "UTF-8";

body{
	width: 1440px;
	margin: 0px auto;
}

body {
	background-color: #dddddd;
}

#background-menu{
	top: 0px;
	width: 1440px;
	height: 168.73px;
	border: none;
	position: fixed;
	z-index: 9;
    opacity: 0.8;
    -moz-opacity: 0.8;
}

#menu{
	top: 0px;
	width: 1440px;
	height: 168.73px;
	border: none;
	position: fixed;
	z-index: 10;
}

article.content #home{
    width:100%;
    height: auto;
    top:0px;
	background-color: #FFFFFF;
}

.imagem-home{
    width:100%;
}

.texto-principal{
	position: relative;
	top: -80px;
	left: 600px;
	width: 600px;
	height: auto;
}

.texto-paragrafo{
	font-family: Montserrat Regular;
	font-size: 100%;
	letter-spacing: -1.05px;
	color: #203549;
	text-align: right;
}

#cards{
	position: relative;
	top: -100px;
	width: 1440px;
	height: 200px;
	text-align: center;
}

.card{
	position: relative;
	width: 280px;
	height: 200px;
	display: inline-table;
	margin: 50px;
}

.card-imagem{
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
}

.card-imagem img{
	width: 40px;
}

.card-titulo{
	position: relative;
	width: 240px;
	height: 40px;
	
	font-family : Montserrat Bold;
	font-weight : bold;
	line-height: 40px;
	font-size : 24px;
	letter-spacing : -1.8px;
	color : #4A80A3;
	text-align: center;
}

.card-texto{
	padding: 10px;
	font-family: Montserrat Regular;
	font-size: 20px;
	letter-spacing: -1.05px;
	color: #203549;

	text-align: center;
	height: auto;
}