@charset "UTF-8";

body {
    background-color: #dddddd;
    width: 1440px;
    height: 110px;
    margin: 0px;
}

#rodape{
    /*width: 100%;*/
    width: 1440px;
    height: 110px;
    background-color: #203549;
}

.texto-rodape{
    position: absolute;
    top: 10px;
    left: 170px;
    height: 20px;
    margin-bottom: 10px;
    color: #FFF;
}

.rodape-int{
    position: absolute;
    top: 35px;
    left: 170px;
    width: 440px;
    height: 60px;
}

.redes-sociais{
    width: 60px;
    margin-right: 10px;
}

#contatos{
    position: absolute;
    top: 35px;
    left: 650px;
}

.contato{
    position: relative;
    display: inline-table;
    text-align: center;
    color: #FFF;
    margin: 5px 10px 5px 10px;
}